body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3a7bd5, #00d2ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

.app-container {
  text-align: center;
}

.weather-form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.weather-form input{
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  width: 220px;
}

.weather-form select {
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
}

.weather-form input:focus,
.weather-form select:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 3px #0077ff66;
}

.weather-form button {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.weather-form button:hover {
  background-color: #e6f0ff;
}